/*** Global ***/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: rgb(240 253 244);
    padding-bottom: 40px;
}

/*** Navbar Override ***/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}

.navbar-nav {
    margin-left: 50px;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link,
.nav-item .nav-link{
    color: #ffffff;
    font-weight: 200;
    transition-duration: 0.5s;
}

.navbar-nav .nav-link:hover,
.nav-item .nav-link:hover{
    font-weight: 400;
}

/*** Custom ***/
/* General container */
.block-container {
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid rgb(226 232 240);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.1s;
    cursor: default;
}

.block-container-wrapper {
    text-decoration: none;
    color: #000;
}

.item-container-heading {
    font-size: 1.5vw;
    font-weight: 500;
}

.item-container:hover {
    background-color: rgb(241 245 249);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.code-block {
    padding: 10px 20px 10px 20px;
    background-color: rgb(226 232 240);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid rgb(226 232 240);
    margin-top: 15px;
}

.btn-container {
    width: fit-content;
}

/* Dashboard container */
.dashboard-container {
    margin-top: 10px;
    background-color: rgb(241 245 249);
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid rgb(226 232 240);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.1s;
    cursor: default;
}

.tool-container {
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid rgb(226 232 240);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.1s;
    cursor: default;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.command-container {
    background-color: rgb(209 250 229);
    color: rgb(5 150 105);
    padding: 15px 20px 15px 20px;
}

.command-container:hover {
    background-color: rgb(236 253 245);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

/* New page */
.page {
    margin-top: 100px;
}

/* Spacing */
.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

/* Sizing */
.w-fit {
    width: fit-content;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

/* Buttons */
.add-commands-btn {
    text-decoration: none;
}

.add-commands-btn:hover {
    text-decoration: underline;
}