/*** Global ***/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: rgb(240 253 244);
    padding-bottom: 40px;
}

/*** Navbar Override ***/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
}

.navbar-nav {
    margin-left: 50px;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-nav .nav-link,
.nav-item .nav-link{
    color: #ffffff;
    font-weight: 200;
    transition-duration: 0.5s;
}

.navbar-nav .nav-link:hover,
.nav-item .nav-link:hover{
    font-weight: 400;
}

/*** Custom ***/
.custom-btn {
    margin-top: 20px;
    background-color: #2596be;
    border-radius: 4px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid rgb(226 232 240);
    padding: 10px 20px 10px 20px;
    width: fit-content;
    height: fit-content;
    transition-duration: 0.1s;
    cursor: default;
    color: #fff;
}

.custom-btn:hover {
    background-color: #154c79;
}

.custom-btn-wrapper {
    text-decoration: none;
}

/*** General container ***/
.block-container {
    margin-top: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid rgb(226 232 240);
    padding: 10px 20px 10px 20px;
    transition-duration: 0.1s;
    cursor: default;
}

.block-container-wrapper {
    text-decoration: none;
    color: #000;
}

.item-container-heading {
    font-size: 1.5vw;
    font-weight: 500;
}

.item-container:hover {
    background-color: rgb(241 245 249);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.commands-block {
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    background-color: rgb(248 250 252);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    border: 1px solid rgb(203 213 225);
    margin-top: 15px;
}

.btn-container {
    width: fit-content;
}

/*** Dashboard items ***/
.dashboard-showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.dashboard-container {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid rgb(226 232 240);
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 2%;
}

.dashboard-container-text,
.dashboard-container-text div {
    width: fit-content;
}

.dashboard-container-text {
    margin: auto;
    margin-top: 30%;
}

.dashboard-table {
    width: 60%;
} 

.dashboard-table-command-title {
    text-decoration: none;
    color: #000;
}

.dashboard-table-command-title:hover {
    text-decoration: underline;
}

/*** Custom tags ***/
.code-block {
    padding: 7.5px;
    margin: 10px auto 5px auto;
    width: 95%;
    height: fit-content;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgb(203 213 225);
}

/*** Utilities ***/
/* New page */
.page {
    margin-top: 100px;
}

/* Spacing */
.mt-6 {
    margin-top: 4rem;
}

.mt-7 {
    margin-top: 5rem;
}

/* Sizing */
.w-fit {
    width: fit-content;
}

.w-95 {
    width: 95%;
}

.w-90 {
    width: 90%;
}

/* Buttons */
.add-commands-btn {
    text-decoration: none;
}

.add-commands-btn:hover {
    text-decoration: underline;
}

/* Box shadow */
.shadow-lg {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}