{% extends 'base.html' %}
{% block title %}Add Command Set{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-11 col-xl-7 ms-4">
            <h1 class="mb-4">Add a new Command Set</h1>
            {% if message %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endif %}
            <form class="block-container" action="/add_commands/" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="fw-semibold fs-4">Title</label>
                    <div class="text-muted form-label">Be specific and imagine you're providing these commands to another person</div>
                    <input type="text" class="form-control fs-4" autocomplete="off" name="title" placeholder="e.g. Push code to a new Github repository" required maxlength="195">
                </div>
                {% comment %}
                <div class="mb-3">
                    <label class="fw-semibold fs-4">Commands</label>
                    <div class="text-muted form-label">Include the commands line by line. Make sure each command start with a '$' (this is automactically added every time you enter a new line)</div>
                    <textarea class="form-control fs-5 commands-textarea" rows="10" name="commands" required maxlength="995"></textarea>
                </div>
                {% endcomment %}
                {% include "components/text_editor.html" %}
                <div class="mb-3">
                    <label class="fw-semibold fs-4">Stacks</label>
                    <select class="form-select" multiple name="tool" required>
                        {% for tool in all_tools %}
                        <option value="{{tool.id}}">{{tool.title}}</option>
                        {% endfor %}
                    </select>
                    <div class="text-muted form-label">Select corresponding stacks for the commands. Hold Command (Mac) or Ctrl (Window) to select multiple.</div>
                    <div class="text-muted form-label">Hold Ctrl (Window) or Command (Mac) and click on selected ones to deselect those</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div></div>
    </div> 
    
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/command_set/add_page.js' %}"></script>
{% endblock script %}