{% extends 'base.html' %}
{% load command_set_extra %}
{% block title %}Command Set{% endblock %}
{% block content %}
<div class="row">
    <div class="col-11 col-xl-7 ms-4">
        <div class="block-container">
            <h3 class="mb-4 mt-3">{{command_set.title}}</h3>

            <!-- Alert if the command is saved by user -->
            {% if user_saved %}
            <div class="alert alert-success" role="alert">
                This command is saved by you
            </div>
            {% endif %}

            <h3 class="mt-4">Upvotes: <span id="upvote-num">{{command_set.upvote_num}}</span></h3>
            <div class="fs-4 fw-semibold mt-3">Commands:</div>
            <div class="commands-block">
                <md-block id="commands-display" data-commands='{{commands|strip_double_quotes|safe}}'>{{commands|strip_double_quotes|safe}}</md-block>
                {% comment %}<md-block>
                    From the command line, **cd** into a directory where you’d like to store your code, then run the following command:<br/>
                </md-block>
                <div class='code-block'>$ django-admin startproject mysite</div>
                <md-block>
                This will create a **mysite** directory in your current directory.<br/>
                Let’s look at what **startproject** created:<br/>
                </md-block>
                <div class='code-block'>&emsp;mysite/<br/>
                &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;manage.py<br/>
                &ensp;&ensp;&emsp;&emsp;&emsp;&emsp;mysite/<br/>
                &ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;\_\_init\_\_.py<br/>
                &ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;settings.py<br/>
                &ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;urls.py<br/>
                &ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;asgi.py<br/>
                &ensp;&ensp;&ensp;&ensp;&emsp;&emsp;&emsp;&emsp;wsgi.py<br/>
                </div>
                <md-block></md-block>{% endcomment %}
            </div>
            <div class="fs-4 fw-semibold mt-3">Stacks:</div>
            <div>{{command_set.display_tools}}</div>
            
            <div class="fs-4 fw-semibold mt-3">Created by:</div>
            <div>{{command_set.created_by.username}}</div>
            <div class="mt-3 ms-auto btn-group mb-3">
                <!-- Command upvoted by user or not -->
                {% if upvote %}
                <a href="/upvote/{{command_set.id}}/" type="button" class="btn btn-primary fs-5 disabled">Upvote</a>
                {% else %}
                <a href="/upvote/{{command_set.id}}/" type="button" class="btn btn-primary fs-5">Upvote</a>
                {% endif %}
                
                <!-- Command saved by user or not -->
                {% if user_saved %}
                <a href="/unsave/{{command_set.id}}" type="button" class="btn btn-warning fs-5 px-2">Unsave</a>
                {% else %}
                <a href="/save/{{command_set.id}}" type="button" class="btn btn-warning fs-5 px-2">Save</a>
                {% endif %}

                <!-- Command downvoted by user or not -->
                {% if downvote %}
                <a href="/downvote/{{command_set.id}}/" type="button" class="btn btn-danger fs-5 disabled">Downvote</a>
                {% else %}
                <a href="/downvote/{{command_set.id}}/" type="button" class="btn btn-danger fs-5">Downvote</a>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {% load static %}
    <script src="{% static 'js/command_set/detail_page.js' %}"></script>
    <script src="{% static 'js/command_set/add_page.js' %}"></script>
{% endblock script %}