<!DOCTYPE html>
<head>
    {% load static %}
    <!-- FontAwesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/text_editor.css' %}"/>
</head>
<body>
    <div class="mb-3">
        <label class="fw-semibold fs-4">Commands</label>
        <div class="text-muted form-label">Include all the information (e.g. the commands, outputs, description, etc.) you need about the command set. Maximum 1000 characters.</div>
        <div class="text-muted form-label">Please use Markdown: <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Guide</a></div>
        <button type="button" class="btn btn-primary btn-lg" id="commands-preview-btn">Preview</button>
        <div class="text-editor mt-2">
            <div class="text-editor-textarea">
                <textarea class="form-control fs-5" id="commands-textarea" rows="10" name="commands" required maxlength="1495"></textarea>
            </div>
        </div>
        <div class="commands-block"><md-block id="preview-block"></md-block></div>
    </div>
    {% load static %}
    <!--Script-->
    <script src="{% static 'js/components/text_editor.js' %}"></script>
</body>