{% extends 'base.html' %}
{% block title %}Command Set{% endblock %}
{% block content %}
<div class="container">
    <div class="dashboard-showcase">
        <div class="dashboard-container">
            <div class="dashboard-container-text">
                <div class="fs-4">Created command sets</div>
                <h1 class="mt-2 fs-1">{{created_commands|length}}</h1>
            </div>
        </div>
        <div class="dashboard-container">
            <div class="dashboard-container-text">
                <div class="fs-4">Saved command sets</div>
                <h1 class="mt-2 fs-1">{{saved_commands|length}}</h1>
            </div>
        </div>
        <div class="dashboard-container">
            <div class="dashboard-container-text">
                <div class="fs-4">Upvotes</div>
                <h1 class="mt-2 fs-1">{{upvotes|length}}</h1>
            </div>
        </div>
        <div class="dashboard-container">
            <div class="dashboard-container-text">
                <div class="fs-4">Downvotes</div>
                <h1 class="mt-2 fs-1">{{downvotes|length}}</h1>
            </div>
        </div>
    </div>
    
    <!-- Off canvas filtering tool -->
    <div class="d-flex flex-row mt-3">
        <h2 class="my-auto" id="dashboard-table-title">Commands created by you</h2>
        <div class="d-flex flex-row w-fit ms-auto">
            <a class="custom-btn-wrapper" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
                <div class="custom-btn fw-semibold">Filter</div>
            </a>
            <a class="custom-btn-wrapper" href="/add_commands/"><div class="custom-btn fw-semibold ms-3">Create a new command set</div></a>
        </div>
    </div>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h4>Filter dashboard table</h4>
            <form id="dashboard-filter-form">
                <label class="form-label">Data Shown: </label>
                <select class="form-select" id="display-table-data">
                    <option value="1">Commands created by you</option>
                    <option value="2">Commands saved by you</option>
                </select>
                <label class="form-label mt-2">Stacks: </label>
                <select class="form-select" id="display-stacks" multiple>
                    {% for tool in all_tools %}
                    <option value={% filter lower|cut:' ' %}{{tool.title}}{% endfilter %}>{{tool.title}}</option>
                    {% endfor %}
                </select>
                <label class="form-label mt-2">Ordered by: </label>
                <select class="form-select" id="sorted-by-select">
                    <option value="sorted-by-last-updated">Updated at (default)</option>
                    <option value="sorted-by-upvote">Number of upvotes</option>
                    <option value="sorted-by-popularity">Popularity</option>
                </select>
                <button type="submit" class="custom-btn">Apply</button>
            </form>
            
        </div>
    </div>

    <!-- Command display table -->
    <table class="table block-container shadow-lg">
        <thead class="bg-info text-light">
            <tr>
                <th scope="col-6">Title</th>
                <th scope="col-4">Stacks</th>
                <th scope="col-1">Upvote</th>
                <th scope="col-1">View</th>
            </tr>
        </thead>
        <tbody class="commands-created-data sorted-by-last-updated">
            {% for command_set in created_commands %}
            <tr>
                <td class="fw-semibold col-6"><a href="/{{command_set.id}}/" class="dashboard-table-command-title">{{command_set.title}}</a></td>
                <td class="col-4">{{command_set.display_tools}}</td>
                <td class="col-1">{{command_set.upvote_num}}</td>
                <td class="col-1">{{command_set.visited_num}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="commands-created-data sorted-by-popularity">
            {% for command_set in created_commands_sorted_by_popularity %}
            <tr>
                <td class="fw-semibold col-6"><a href="/{{command_set.id}}/" class="dashboard-table-command-title">{{command_set.title}}</a></td>
                <td class="col-4">{{command_set.display_tools}}</td>
                <td class="col-1">{{command_set.upvote_num}}</td>
                <td class="col-1">{{command_set.visited_num}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="commands-created-data sorted-by-upvote">
            {% for command_set in created_commands_sorted_by_upvote %}
            <tr>
                <td class="fw-semibold col-6"><a href="/{{command_set.id}}/" class="dashboard-table-command-title">{{command_set.title}}</a></td>
                <td class="col-4">{{command_set.display_tools}}</td>
                <td class="col-1">{{command_set.upvote_num}}</td>
                <td class="col-1">{{command_set.visited_num}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="commands-saved-data sorted-by-last-updated">
            {% for command_set in saved_commands %}
            <tr>
                <td class="fw-semibold col-6"><a href="/{{command_set.id}}/" class="dashboard-table-command-title">{{command_set.title}}</a></td>
                <td class="col-4">{{command_set.display_tools}}</td>
                <td class="col-1">{{command_set.upvote_num}}</td>
                <td class="col-1">{{command_set.visited_num}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="commands-saved-data sorted-by-popularity">
            {% for command_set in saved_commands_sorted_by_popularity %}
            <tr>
                <td class="fw-semibold col-6"><a href="/{{command_set.id}}/" class="dashboard-table-command-title">{{command_set.title}}</a></td>
                <td class="col-4">{{command_set.display_tools}}</td>
                <td class="col-1">{{command_set.upvote_num}}</td>
                <td class="col-1">{{command_set.visited_num}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="commands-saved-data sorted-by-upvote">
            {% for command_set in saved_commands_sorted_by_upvote %}
            <tr>
                <td class="fw-semibold col-6"><a href="/{{command_set.id}}/" class="dashboard-table-command-title">{{command_set.title}}</a></td>
                <td class="col-4">{{command_set.display_tools}}</td>
                <td class="col-1">{{command_set.upvote_num}}</td>
                <td class="col-1">{{command_set.visited_num}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static 'js/dashboard.js'%}"></script>
{% endblock %}