{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="col-md-9 col-11 col-xl-6 col-xxl-5 mx-auto">
    <h1 class="pt-5">Login with App name</h1>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
    <form action="/login/" method="post" class="item-container">
        {% csrf_token %}
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <p>Do not have an account? Sign up <a href="/signup/">here</a></p>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}