{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="col-md-9 col-11 col-xl-6 col-xxl-5 mx-auto">
    <h1 class="pt-5">Signup with App name</h1>
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
    <form action="/signup/" method="post" class="item-container">
        {% csrf_token %}
        <div class="mb-2">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" placeholder="Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-2">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username to be displayed">
        </div>
        <div class="mb-2">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="mb-2">
            <label class="form-label">Retype Password</label>
            <input type="password" class="form-control" name="retype_password" placeholder="Confirm Password">
        </div>
        <p>Already have an account? Log in <a href="/login/">here</a></p>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div>
{% endblock %}